<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Meditation Space</title>
    <module href="/components/head.html"></module>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  
  <!-- <body style="background: rgb(76, 129, 214); margin: 0; padding: 0;height:100%; width:100%;"> -->
  <body style="background: linear-gradient(#b5e48c, #457b9d); margin: 0; padding: 0;height:100%; width:100%;"></body>

    <!-- ⬇️ i'm bundle.js for no framework template, please do not ever delete me! -->
    <script src="bundle.js" defer async></script> 

    <script>
		  
    </script>


    <div>
        <img class="imgIntro" src="assets/intro.png" alt="introduction">
    </div>
    
    <div class="menu">
        <div class="label">Menu</div>
        <div class="spacer"></div>
        <!-- <div class="item"><span><a href="intro.html">Introduction</a></span></div>
        <div class="item"><span><a href="index.html">Space</a></span></div> -->
        <div class="item"><span><a href="index.html">Introduction</a></span></div>
        <div class="item"><span><a href="spacecode.html">Space</a></span></div>
    </div>

    <div class="copyright">
      Copyright @ 2022, ITP NYU
    </div>
  

  
  </body>

</html>
