<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Meditation Space</title>
    <module href="/components/head.html"></module>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  
  <body style="background: rgb(0, 0, 0); margin: 0; padding: 0;height:100%; width:100%;">

    <!-- ⬇️ i'm bundle.js for no framework template, please do not ever delete me! -->
    <script src="bundle.js" defer async></script> 

    <script>
    
		function login()
		{
		var pwd=document.getElementById("pwd").value;
    const pwdArray = [
      "nfW4um",
      "JQ96dY",
      "g2PjD8",
      "nrL2jB",
      "K3bMhA",
      "v3QTrG",
      "kFnY5J",
      "PG86aC",
      "t3jRCT",
      "f4Lq8B",
      "s3PyJx",
      "Lu7Hke",
      "v7KhFR",
      "Zr7TJj",
      "cTP6hX",
      "A46q3E",
      "C9wrJ4",
      "jN6C2G",
      "w2UP9J",
      "LRA3sC",
      "x8DTRW",
      "Gg6vSc",
      "J9zfF2",
      "sMq8kG",
      "WZu92n",
      "rQ2q63",
      "J3U9uC",
      "x6cAwm",
      "V9jXKY",
      "jL8zFv",
      "PcU82Q",
      "b4KxdR",
      "kB8dge",
      "BPX3mQ",
      "s759UT",
      "fL4NvG",
      "r4vWxF",
      "Rgaq7c",
      "GMhR3b",
      "UGhM3g",
      "Qh6g7L",
      "S8YXh3",
      "ackM6B",
      "r3T2Cs",
      "Ffq4C3",
      "MEup5v",
      "n7MBZX",
      "QyM4aj",
      "hf2MFP",
      "g8JF3u",
      "kuA2md",
      "Kx8Aam",
      "nXp93S",
      "Vsg8q9",
      "F9Ahm7",
      "V638rz",
      "F7jrYk",
      "Ys6h8K",
      "Z5QMfG",
      "dNc9Aw",
      "yPCp5b",
      "Yw9fz5",
      "T9hWL2",
      "VUd4bR",
      "P8NSqf",
      "Nb3fzr",
      "zvL5rh",
      "kKjX6u",
      "W4g75b",
      "Eaju4s",
      "vCS9zF",
      "hCj3yF",
      "u9nGhF",
      "P6jpDs",
      "jy9QXF",
      "ywT6GC",
      "jbB7hD",
      "HQ6cVk",
      "tJ8SHf",
      "jNM7cr",
    ];
		console.log(pwd);
		let txt = "";
	  
		if(pwdArray.includes(pwd))
		{
		// alert("redirecting...");
		// txt = "yay! redirecting 🥰";
        location.href = "space.html";
		// window.open("index.html");
		// console.log("correct");
	  
		} else {
		// txt = "oh no! please try our offline exhibition first 😎";
    txt = "Oops! Please join our offline exhibition to get the password. <br>Or if you have already participated but lostit, please contact our staff with your payment information!<br>Contact —— zc2525@nyu.edu"
		  // console.log("wrong");
		}
		document.getElementById("prompt").innerHTML = txt;
		}
		  
    </script>

    <div class="content">

    <input size="40" type="password" id="pwd" placeholder="tap in the code on ticket"/>
    <input size="40" type="button" value="→" onclick="login()"/>
    <!-- <p id="prompt" style="font-family: Helvetica; font-size: 15px; font-weight: lighter;"></p> -->
    <p id="prompt" style="font-family: Inter; font-size: 15px; font-weight: lighter;"></p>

    </div>


    <!-- WebGL context -->
    <!-- <div id="gl_context"></div> -->

    <!-- Audio Element-->
    <!-- <audio loop controls id="myAudio"> -->
    <!-- <audio loop id="envAudio">
      <source src="assets/space.mp3" type="audio/mp3">
    </audio>
  
    <audio id="waterAudio">
      <source src="assets/water.mp3" type="audio/mp3">
    </audio> -->
    
    <!-- Video Element-->
    <!-- <video id="myVideo" loop crossOrigin="anonymous" playsinline style="display:note">
      <source src="assets/xxx.mp4" type='"video/mp4"; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>> -->
  
    <!-- Picture Element-->
    <!-- <img id="myPicture" src="assets/star.gif" /> -->
  
    <div class="menu">
      <div class="label">Menu</div>
      <div class="spacer"></div>
      <div class="item"><span><a href="index.html">Introduction</a></span></div>
      <div class="item"><span><a href="spacecode.html">Space</a></span></div>
      <!-- <div class="item"><span><a href="intro.html">Introduction</a></span></div>
      <div class="item"><span><a href="index.html">Space</a></span></div> -->
    </div>
  
    <!-- <div class="content">
      <p  style="font-family: Helvetica; font-size: 15px; font-weight: lighter;">loading...</p>
    </div> -->
    
  
  </body>

</html>
