    <!-- WebGL context -->
    <div id="gl_context"></div>

   <!-- Audio Element-->
	<!-- <audio loop controls id="myAudio"> -->
	<audio loop id="myAudio">
		<source src="assets/space.mp3" type="audio/mp3">
	</audio>
	
	<!-- Video Element-->
	<!-- <video id="myVideo" loop crossOrigin="anonymous" playsinline style="display:note">
		<source src="assets/xxx.mp4" type='"video/mp4"; codecs="avc1.42E01E, mp4a.40.2"'>
	</video>> -->

	<!-- Picture Element-->
	<!-- <img id="myPicture" src="assets/star.gif" /> -->

	<div class="menu">
		<div class="label">Menu</div>
		<div class="spacer"></div>
		<div class="item"><span><a href="intro.html">Introduction</a></span></div>
		<div class="item"><span><a href="index.html">Space</a></span></div>
	</div>

	<!-- <div class="content">
		<p  style="font-family: Helvetica; font-size: 15px; font-weight: lighter;">loading...</p>
	</div> -->
